<div id="tabstrip-manage-app" data-role="view" data-show="app.loanApplication.viewModel.show" data-model="app.loanApplication.viewModel" >
            <div data-role="header">
            <div data-role="navbar">
                <span data-role="view-title">
                    <div class="matches-logo"><a href="#tabstrip-login">Back</a></div>
                </span>
                <a data-bind="click: refreshView,visible: showrefreshLoading" class="refresh-loading docs-refresh">refresh</a>
                 <a data-align="right" data-rel="popover" href="#popover-people" data-role="button" class="docs-popup"></a>
            </div>
            </div>
            <div class="view-content">
                <div class="recent-activity clearfix">
                    <div class="rcnt-actty">Recent Loan activity</div>
                    <div class="applyFrshLon"><a href="#">Apply for a fresh loan</a></div>
                </div>
                <div id="tabstrip">
                    <ul>
                        <li class="k-state-active">
                            Paris
                        </li>
                        <li>
                            New York
                        </li>
                        <li>
                            London
                        </li>
                        <li>
                            Moscow
                        </li>
                        <li>
                            Sydney
                        </li>
                    </ul>
                    <div>
                        <div class="weather">
                            <h2>17<span>&ordm;C</span></h2>
                            <p>Rainy weather in Paris.</p>
                        </div>
                        <span class="rainy">&nbsp;</span>
                    </div>
                    <div>
                        <div class="weather">
                            <h2>29<span>&ordm;C</span></h2>
                            <p>Sunny weather in New York.</p>
                        </div>
                        <span class="sunny">&nbsp;</span>
                    </div>
                    <div>
                        <div class="weather">
                            <h2>21<span>&ordm;C</span></h2>
                            <p>Sunny weather in London.</p>
                        </div>
                        <span class="sunny">&nbsp;</span>
                    </div>
                    <div>
                        <div class="weather">
                            <h2>16<span>&ordm;C</span></h2>
                            <p>Cloudy weather in Moscow.</p>
                        </div>
                        <span class="cloudy">&nbsp;</span>
                    </div>
                    <div>
                        <div class="weather">
                            <h2>17<span>&ordm;C</span></h2>
                            <p>Rainy weather in Sydney.</p>
                        </div>
                        <span class="rainy">&nbsp;</span>
                    </div>
            </div>

        </div>
     </div>