<div id="tabstrip-manage-app" data-role="view" data-show="app.loanApplication.viewModel.show" data-model="app.loanApplication.viewModel" >
            <div data-role="header">
            <div data-role="navbar">
                <span data-role="view-title">
                    <div class="matches-logo"><a href="#tabstrip-login">Back</a></div>
                </span>
                <a data-bind="click: refreshView,visible: showrefreshLoading" class="refresh-loading docs-refresh">refresh</a>
                 <a data-align="right" data-rel="popover" href="#popover-people" data-role="button" class="docs-popup"></a>
            </div>
            </div>
            <div class="view-content">
                <div class="recent-activity clearfix">
                    <div class="rcnt-actty">Recent Loan activity</div>
                    <div class="applyFrshLon"><a href="#">Apply for a fresh loan</a></div>
                </div>
                <div id="tabstrip">
                    <ul>
                        <li class="k-state-active postd_icn">
                            Posted
                            <span>2</span>
                            <div class="actArw">Arrow</div>
                        </li>
                        <li class="end_icon">
                            Ended
                            <span>0</span>
                            <div class="actArw">Arrow</div>
                        </li>
                        <li class="sevd_icon">
                            Saved
                            <span>2</span>
                            <div class="actArw">Arrow</div>
                        </li>
                        <li class="lon_icon">
                            Loan against Personal Assets
                            <span>2</span>
                            <div class="actArw">Arrow</div>
                        </li>
                    </ul>
                    <div>
                        <div class="tabOne">
                            <ul class="tabOne">
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                
                            </ul>
                        </div>

                    </div>
                    <div>
                        <div class="tabOne">
                            <ul class="tabOne">
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="tabOne">
                            <ul class="tabOne">
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="tabOne">
                            <ul class="tabOne">
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                <li>
                                    <span>BIZ215231</span>
                                    <span>09/18/2014</span>
                                </li>
                                
                            </ul>
                        </div>

                    </div>
            </div>

        </div>
     </div>