/* Last-Modified: 28/06/06 00:08:22 */

textarea{font-family: 'LucidaSansRegular';}
#GB_overlay {
    background-color: #000;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 9950;
}

#GB_window {
    left: 0;
    top: 0;
    font-size: 1px;
    position: absolute;
    overflow: visible;
    z-index: 9990;
	border-radius:6px;box-shadow: 0px 0px 15px #000;
	width:523px;
}

#GB_window .content {
    width: auto;
    margin: 0;
    padding: 0;
	background:#fff;
}
#GB_window .content iframe{width:523px!important;}
#GB_frame {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}
#GB_frame body{margin:0; padding:0}
#GB_window .content iframe body{margin:0; padding:0}

.GB_Gallery {
    margin: 0 22px 0 22px;
}

.GB_Gallery .content {
    background-color: #fff;
    border: 3px solid #ddd;
}

.GB_header {
    top: 10px;
    left: 0;
    margin: 0;
    z-index: 500;
    position: absolute;
    border-bottom: 2px solid #555;
    border-top: 2px solid #555;
	width:523px!important
}

.GB_header .inner {
    background-color: #333;
    font-family: Arial, Verdana, sans-serif;
    padding: 2px 20px 2px 20px;
}

.GB_header table {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}

.GB_header .caption {
    text-align: left;
    color: #eee;
    white-space: nowrap;
    font-size: 20px;
}

.GB_header .close {
    text-align: right;
}

.GB_header .close img {
    z-index: 500;
    cursor: pointer;
}

.GB_header .middle {
    white-space: nowrap;
    text-align: center;
}


#GB_middle {
    color: #eee;
}

#GB_middle img {
    cursor: pointer;
    vertical-align: middle;
}

#GB_middle .disabled {
    cursor: default;
}

#GB_middle .left {
    padding-right: 10px;
}

#GB_middle .right {
    padding-left: 10px;
}


.GB_Window .content {
    background-color: #fff;
   /* border: 3px solid #ccc;*/
    border-top: none;
	border-bottom-left-radius:6px; border-bottom-right-radius:6px;
}

.GB_Window .header {
   line-height:43px;font-family:'LucidaSansDemiboldRoman'; background:#ccc url(share-icon-popup.gif) no-repeat 21px ;font-size:14px; color:#333; text-indent:15px;border-top-left-radius:6px;border-top-right-radius:6px; height:auto;width:523px!important;
}

.GB_Window .caption {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    padding-right: 20px;
}

.GB_Window .close { text-align: right; }
.GB_Window .close span { 
    font-size: 12px;
    cursor: pointer; 
}
.GB_Window .close img {
    cursor: pointer;
    padding: 0 3px 0 0;
}

.GB_Window .on { border-bottom: 1px solid #333; }
.GB_Window .click { border-bottom: 1px solid red; }
#greybox-body { margin-right: 12px; margin-top: 20px;}
#greybox-body h2{}
#greybox-body .popup-content{ background:#fff; border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
#greybox-body .popup-content .popup-block{padding:7px 20px 17px; width:auto;}
#greybox-body .popup-content .link-block{ background:#e8f3d9; border-bottom:1px solid #c2c2c2;border-top:1px solid #e5e5e5; padding:7px 20px 17px;margin-right:-8px; margin-left:-8px; zoom:1;}
#greybox-body .popup-content label{color:#666; font-size:12px;font-family:'LucidaSansDemiboldRoman'; display:block; margin-bottom:3px;}
#greybox-body .popup-content input[type="text"]{border:1px solid #ccc; width:450px; font-size:12px; color:#666; padding:4px 9px;}
#greybox-body .popup-content textarea{border:1px solid #ccc; width:450px; font-size:12px; color:#666; padding:4px 9px;font-family: 'LucidaSansRegular';}

#greybox-body .popup-content .field-block{padding:7px 13px 17px;}
#greybox-body .popup-content .field-block-gary{padding:7px 20px 17px; background:#f2f2f2;margin-right:-8px; margin-left:-8px;}
#greybox-body .popup-content .field-block-gary label{ font-size:12px; color:#999;font-family:'LucidaSansDemiboldRoman';}
#greybox-body .popup-content .field-block-gary label em{font-style:italic;font-family: 'LucidaSansRegular';}

#greybox-body .popup-content .button-block{padding:15px 0px 0px; overflow:hidden;}
#greybox-body .popup-content .button-block input{ background:#99CC00; border-radius:6px; height:29px; color:#fff; font-size:14px; font-family:Arial, Helvetica, sans-serif;font-weight:bold; cursor:pointer; border:0; margin-right:10px; float:left; min-width: 85px;}
#greybox-body .popup-content .button-block input+input{background:#ccc; cursor:pointer; border:0; margin-right:10px;}

#greybox-body  form{margin:0; padding:0;}

#greybox-body .popup-content .popup-block ul#fileList{ list-style-type:none; width:500px; }
#greybox-body .popup-content .popup-block ul#fileList li{padding:18px 0 18px 40px; }
#greybox-body .popup-content .popup-block ul#fileList li.folder{background:url(doc-icon-folder.png) no-repeat left;  float:left}
#greybox-body .popup-content .popup-block ul#fileList li.parent{ padding:18px 0 18px 60px; background-position:20px center}
#greybox-body .popup-content .popup-block ul#fileList li.sub{ padding:18px 20px 18px 22px; background:#ebf0e3 url(doc-icon-folder.png) no-repeat 59px;}
#greybox-body .popup-content .popup-block ul#fileList li.sub .left{ padding-left:50px;}
#greybox-body .popup-content .popup-block ul#fileList li.sub .left h5{margin-top:10px;font-family:'LucidaSansDemiboldRoman';}
#greybox-body .popup-content .popup-block ul#fileList li h5{ font-size:12px; color:#666; line-height:12px; margin-bottom:7px;}
#greybox-body .popup-content .popup-block ul#fileList li ul.inline-list{ list-style-type:none}
#greybox-body .popup-content .popup-block ul#fileList li ul.inline-list li{float:left; font-size:12px; border:0; color:#999;background:url(doc-div01.gif) no-repeat right; padding:0 8px;}
#greybox-body .popup-content .popup-block ul#fileList li ul.inline-list li.last{background:none}
#greybox-body .popup-content .popup-block ul#fileList li ul.inline-list li a{color:#999; text-decoration:none; float:left}
#greybox-body .popup-content .popup-block ul#fileList li ul.inline-list li img{float:left; margin-right:5px; margin-top:2px;opacity:0.5;filter: alpha(opacity=50);}
#greybox-body .popup-content .popup-block ul#fileList li ul.inline-list li:hover img{opacity:1;filter: alpha(opacity=88); border:0}
#greybox-body .popup-content .popup-block ul#fileList li ul.inline-list li a:hover{color:#333}
#greybox-body .popup-content .popup-block ul#fileList li ul.inline-list li.first{padding-left:0}
#greybox-body .popup-content .popup-block ul#fileList li ul.inline-list li.space{background:none; color:#666}

#fileQueue{margin-top:10px}
.field-block-gary select{padding:3px 2px 3px 5px;color:#000000;border: 1px solid #CCCCCC;border-radius:3px; font-size:12px}
#greybox-body label {margin-bottom:5px!important; display:block}
#greybox-body label img{margin-right:5px}
#greybox-body .msg{font-family:'LucidaSansDemiboldRoman'}

.userlist{display: block!important;}

#processId{  left: -85px;
    margin-left: 50%;
    position: absolute;
    top: 183px;}
#processId #userlist	{   background-color: #FFFFFF!important;
    border: 1px solid #D4E4BE!important;
    border-radius: 9px;
    display: block;

    padding: 5px;
    width: 170px!important;}